
header{
    background-image: url(../images/bg1.jpg);
    margin: 0%;
    padding: 0%;
    background-size: 25%;
}

.hbg1{
    background-color: rgba(198, 198, 218, 0.65);
}

.hdnav{
    font-size: 2rem;
    font-weight: 700;
    font-family: 'Lobster', cursive;
    color: #140101d3;
    text-shadow: 
    0.07em 0 0 rgba(255,0,0,.75),
    -0.025em -0.07em 0 rgba(0,255,0,.75),
    0.025em 0.07em 0 rgba(0,0,255,.75);

    animation: glitch 500ms infinite;
    align-items: center;
    text-align: center;
    position: relative;
    margin: 0 auto;
    padding-bottom: 0%;
}

.hdnav1{
    font-size: 20px;
    text-align: center;
    margin: 0% auto;
}

.link1{
    background: rgba(172, 61, 187, 0);
    color: #000;
    font-family: 'Acme', sans-serif;
    padding: 1%;
    padding-bottom: .5%;
    padding-top: .5%;
    border-style: dotted;
    margin: 2%;
    text-decoration: none;   
}

hr{
    opacity: 0;
}


.link1:hover{
    background: orangered;
    border-style: double;
    border-radius: 2em;
}

@keyframes glitch{
    0%{
        text-shadow: 
        0.07em 0 0 rgba(255,0,0,.75),
        -0.07em -0.025em 0 rgba(0,255,0,.75),
        -0.025em 0.07em 0 rgba(0,0,255,.75);
    }
    14%{
        text-shadow: 
        0.07em 0 0 rgba(255,0,0,.75),
        -0.07em -0.025em 0 rgba(0,255,0,.75),
        -0.025em 0.05em 0 rgba(0,0,255,.75);
    }
    15%{
        text-shadow: 
        -0.07em -0.025 0 rgba(255,0,0,.75),
        0.025em 0.025em 0 rgba(0,255,0,.75),
        -0.07em -0.07em 0 rgba(0, 0, 255, 0.75);
    }
    49%{
        text-shadow: 
        -0.07em -0.025 0 rgba(255,0,0,.75),
        0.025em 0.025em 0 rgba(0,255,0,.75),
        -0.07em -0.07em 0 rgba(0, 0, 255, 0.75);
    }
    50%{
        text-shadow: 
        0.025em 0.05 0 rgba(255,0,0,.75),
        0.07em 0em 0 rgba(0,255,0,.75),
        0em -0.07em 0 rgba(0,0,255,.75);
    }
    99%{
        text-shadow: 
        0.025em 0.05 0 rgba(255,0,0,.75),
        0.07em 0em 0 rgba(0,255,0,.75),
        0em -0.07em 0 rgba(0,0,255,.75);
    }
    100%{
        text-shadow: 
        0.025em 0 0 rgba(255,0,0,.75),
        -0.025em -0.025em 0 rgba(0,255,0,.75),
        -0.025em -0.07em 0 rgba(0,0,255,.75);
    }
}
