*{
	box-sizing: border-box;
}
body{
	background-image: url(../images/bg2.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: fixed;
}
lable{
	font-weight: bold;
	margin-bottom: 10px;
}
input[type=text], select {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}
input[type=file]{
	padding: 12px 20px;
}
input[type=submit]{
	padding: 5px 20px;
	display: block;
	margin: 0 auto;
	font-size:20px;
}
