*{
    box-sizing: border-box;
}

/* Body */

body{
    background-image: url(../images/bg2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: fixed;
}
h2{
    text-align: center;
}

.main{
    background-color: rgba(137, 137, 235, 0.2);
    display: block;
}

.boxlt{
    display: inline-block;
    width: 30%;
}

.box1{
    color: rgb(255,0,0);
    display: inline-block;
    overflow: scroll;
    height: 30rem;
    font-family: 'Acme', sans-serif;
    border: dotted #fff;
    width: 100%;padding: 1%;
}

.box3 img, .box1 img{

    height: 1em;
    margin: 0%;
}

.box2{
    color: rgb(29, 122, 209);
    display: inline-block;
    border: double #fff;
    height: 91rem;
    overflow: scroll;
    font-family: 'Acme', sans-serif;
    width: 100%;padding: 1%;
}

.box2 img{
    height: 2em;
    margin: 0%;
}

.box3{
    color: rgb(6, 92, 6);
    display: block;
    border: dotted #fff;
    font-family: 'Acme', sans-serif;
    width: 100%;padding: 1%;
}

/* Body */
