*{
    box-sizing: border-box;
}

body{
    background-image: url(images/bg2.jpg);
    background-repeat: none;
    background-size: cover;
}


#SubHeading{
    text-align: center;
    color: rgb(80, 6, 28);
    font-size: 3rem;
    font-family: Dancing Script;
    animation: mymove 5s infinite;
    }
      
      @keyframes mymove {
        50% {text-shadow: 10px 20px 30px white;}
      }

.boxfree, .boxPro{
    display: inline-block;
    border: dotted #fff;
    padding: .5%;
    margin: 2%;
    color: #fff;
    font-family: 'Acme', sans-serif;
    width: 45%;
    text-align: center;
    height: 30rem;
    border-radius: 2rem;
    background-color: rgba(114, 107, 107, 0.466);
}

.boxPro h1, .boxfree h1{
    animation: textanime 5s infinite;
}

.boxPro{
    float: right;
}

@keyframes textanime{
    0%, 24%{
        font-size: 2.5em;
    }
    25%, 49%{
        font-size: 2.75em;
        color: rgb(12, 4, 56);
    }
}

.boxPro button{
    border: blue;
    border-radius: 1em;
    background-color: cadetblue;
    padding: 1%;
    font-size: medium;
}

